@import './reset.css';

html {
	font-family: 'Josefin Sans', sans-serif;
	--primaryFontColor: #000;
}
:root {
	--boldFamily: 'Josefin Sans', sans-serif;
	--lightFamily: 'Inter', sans-serif;
	--darkgrey: #222222;

	--accentColor: #006216;
}
